{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}
<div class="camo-overlay"></div>
<div class="container-fluid">
    <h3 style="text-align: center; color: #fafafa;">Club News</h3>
        <ul>
        <div class="row">
            <div class="col-xs-hidden col-md-2"></div>
            <div class="col-md-8">
                {% for post in object_list %}
                <div class="card ml-2 mt-3">
                    <img src="{{ post.image_header }}" class="card-img-top" alt="..." />
                    <div class="card-body">
                    <a class="text-decoration-none" href="{% url 'newsdetail' post.pk %}">
                    <p class="card-text">{{ post.title }}</p>
                    </a>
                    {% if request.user.is_superuser %}
                    <a href="{% url 'editnews' post.pk %}" class="button btn-warning btn-rounded">
                        <i class="fas fa-edit mr-1"></i>Edit
                    </a>
                    <a href="{% url 'deletenews' post.pk %}" class="button btn-danger ml-2 btn-rounded">
                        <i class="fas fa-trash mr-1"></i>Delete
                    </a>
                {% endif %}
                <footer class="muted">{{ post.author }}</footer>
          </div>
        </div>

        <br />
        {% endfor %}
      </div>
    </div>
  </ul>
</div>

{% endblock %}
