<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="news-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                News
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="news-link">
                {% if request.user.is_superuser %}
                    <a href="{% url 'addnews' %}" class="dropdown-item">Add News</a>
                {% endif %}
                <a href="{% url 'clubnews' %}?category=mens" class="dropdown-item">Senior Men</a>
                <a href="{% url 'clubnews' %}?category=ladies" class="dropdown-item">Senior Ladies</a>
                <a href="{% url 'clubnews' %}?category=youth" class="dropdown-item">Youth</a>                
                <a href="{% url 'clubnews' %}?category=mens,ladies,youth" class="dropdown-item">All News</a>
            </div>
        </li>        


        {% if request.user.is_authenticated %}
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="fixtures-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Fixtures
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="fixtures-link">
                {% if request.user.is_superuser %}
                    <a href="{% url 'addfixtures' %}" class="dropdown-item">Add Fixtures</a>
                {% endif %}
                <!--<a href="" class="dropdown-item">Senior Men</a>
                <a href="" class="dropdown-item">Senior Ladies</a>
                <a href="" class="dropdown-item">Youth</a>-->                
                <a href="{% url 'fixtures' %}" class="dropdown-item">All Fixtures</a>
            </div>
        </li>
        {% endif %}

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Shop
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <!-- TO BE ADDED
            <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="media-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Photos/Videos
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="media-link">                
                <a href="" class="dropdown-item">Photos</a>
                <a href="" class="dropdown-item">Videos</a>
            </div>
        </li>-->

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="about-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                About Us
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="about-link">                
                <a href="{% url 'about' %}?category=history" class="dropdown-item">Club History</a>
                <a href="{% url 'pitches' %}?category=facilities" class="dropdown-item">Pitches</a>
            </div>
        </li>
        <!--This is to be added at a future date for the club once sellable gear has been sourced-->
        <!--<li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>-->
    </ul>
</div>